@font-face{
    font-family: "Montserrat";
    src: url(assets/Montserrat-Light.ttf) format("truetype");
}
@font-face{
    font-family: "Lemonada";
    src: url(assets/Lemonada.ttf) format("truetype");
}

body{
    top: 0;
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
    background-color: white;
    /* background-image: url("assets/woodtexture.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%; */
}

a{
    text-decoration: none;
}

#topbar{
    position: fixed;
    height: 70px;
    width: 100%;
    background-image: linear-gradient(to right, rgb(0, 34, 49),rgb(76, 0, 83));
    top: 0;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    box-sizing: border-box;
    z-index: 1;
}
#title{
    color: whitesmoke;
    font-size: 26pt;
    font-family: "Lemonada";
    padding-left: 3%;
    cursor: default;
}
#menuopener{
    cursor: pointer;
    width: 70px;
    height: 70px;
}
/* #menuopener:hover{
    background-color: rgb(22, 61, 71);
} */
#menuopener:active{
    background-color: rgb(15, 44, 51);
}
#smallicon{
    width: 30px;
    margin-left: 20px;
    margin-top: 20px;
    filter: invert(100%);
}

/* Whole nav setups */
#navbar{
    height: 100%;
    background-color: rgb(0, 0, 0);
    margin: 70px 0 0 0;
    list-style-type: none;
    padding: 0;
    line-height: 60px;
    position: fixed;
    overflow: auto;
    top: 0;
    width: 0;
}
@keyframes sidebaropen{
    0%{
        width: 0;
        display: none;
    }
    100%{
        width: 25%;
    }
}
@keyframes sidebarclose{
    0%{
        width: 25%;
    }
    100%{
        width: 0;
        display: none;
    }
}
.sidebaropen{
    animation: sidebaropen 0.3s forwards;
}
.sidebarclose{
    animation: sidebarclose 0.3s forwards;
}
.nav{
    padding: 0 10%;
    display: block;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.nav:hover{
    background-color: rgb(68, 68, 68);
}
.nav:active{
    background-color:  rgb(32, 32, 32);
}
#navbar li:nth-child(1){
    font-weight: bolder;
    padding: 5px 0 0 10%;
    background-color: rgb(0, 0, 0);
    cursor: default;
    color: rgb(238, 255, 0);
    border-bottom: 2px solid ;
    width: 80%;
}
/* The side bar setups end here */

/* Animation for content when sidebar opens/closes */
@keyframes contentsideopen{
    0%{margin-left: 10%;}
    100%{margin-left: 32%;}
}
@keyframes contentsideclose{
    0%{margin-left: 32%;}
    100%{margin-left: 10%;}
}
.contentsideopen{
    animation: contentsideopen 0.3s forwards;
}
.contentsideclose{
    animation: contentsideclose 0.3s forwards;
}
@keyframes fadein{
    from{opacity: 0; margin-right: 80px;}
    to{opacity: 100%; margin-right: 0;}
}
#content{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 90px;
    text-align: center;
}
#content h1{
    font-size: 50pt;
    letter-spacing: 4pt;
}
#homecontainer{
    animation: fadein 1s forwards;
}

.wordcontent{
    font-weight: bold;
    line-height: 200%;
}

/* Game segment */
#gamecontainer{
    animation: fadein 1s;
    display: none;
}
canvas{
    width: 70%;
    border: 1px solid black;
    background-image: url("assets/backgroundgame.gif");
    background-attachment: relative;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
}


/* Social segment */
#socialcontainer{
    display: none;
    grid-template-columns: 30% 30% 30%;
    grid-template-areas: "t t t" "s1 s2 s3";
    animation: fadein 1s;
    margin-left: 8%;
    margin-top: 2%;
}
#socialtitle{
    grid-area: t;
    font-size: 40pt;
    font-weight: bolder;
    color: rgb(0, 0, 0);
}
@keyframes cardMOverAnimation{
    0%{
    }
    100%{
        opacity: 0.5;
        height: 105%;
    }
}
.socialcard{
    height: 99%;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, rgb(241, 241, 241), rgb(207, 207, 207), rgb(241, 241, 241));
    margin: 30px 5%;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    word-wrap: break-word;
}
.socialcard:hover{
    animation: cardMOverAnimation 0.5s forwards;
}
.socialcard:active{
    opacity: 0.3;
}
#ig{
    grid-area: s1;
}
#email{
    grid-area: s2;
}
#wa{
    grid-area: s3;
}
.imageprof{
    width: 60%;
    border-radius: 50%;
    margin: 30px auto 15px auto;
}
.hrsocial{
    width: 80%;
    height: 2px;
    margin-left: 10%;
    margin-right: 10%;
    background-image: linear-gradient(to right, rgb(78, 78, 78), rgb(156, 156, 156), rgb(112, 112, 112));
    border-radius: 1px;
}
.socialtext{
    color: black;
    margin-top: 3%;
}
.socialtext:active, .socialtext:visited{
    color: black;
}
.socialogo{
    width: 40px;
    margin: 6% auto;
}
.socialid{
    height: 20%;
}